<%- include('header'); -%>

    <form method="POST" action="/api/login">

        <br>
        <label for="username"> Username: </label>
        <br>
        <input type="text" name="username" placeholder="Enter your username" required autofocus><br>
        <br>
        <label for="password"> Password: </label>
        <br>
        <input type="password" name="passwsord" placeholder="Enter your password" required><br>
        <br>
        <button> submit </button>

    </form>

<%- include('footer'); -%>