<%- include('header'); -%>

    <form method="POST" action="/api/register">
    <div class='content'> 
        <label>Username</label> 
        <br>
        <input type="text" name="username" placeholder="Enter your username">
        <br>
        <label>Password</label> 
        <br>
        <input type="text" name="password" placeholder="Enter your password">
        <br>
        <label>Society</label>
        <br>
        <input type="text" name="society" placeholder="Enter your society name">
        <br>
        <label>Contact Name</label> <br>
        <input type="text" name="contact" placeholder="Enter your name"> <br>
        <br>
        <label>Address</label> <br>
        <input type="text" name="address" placeholder="Enter your address"> <br>
        <br>
        <label>Zip code</label> <br>
        <input type="text" name="zipcode" placeholder="Enter your zip code"> <br>
        <br>
        <label>City</label> <br>
        <input type="text" name="city" placeholder="Enter your city name"> <br>
        <br>
        <label>Fax</label> <br>
        <input type="text" name="fax" placeholder="Enter your fax number"> <br>
        <br>
        <label>max_outstanding</label> <br>
        <input type="text" name="max_outstanding" placeholder="Enter your max outstanding details"> <br>
        <br>
        <button> submit </button>

    </form>
    
<%- include('footer'); -%>